/* TransactionStatistics.css */
.transaction-statistics-card {
  background-color: rgb(233, 206, 52);
  margin-top: 16px;
}

.transaction-statistics-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-statistics-typography {
  margin: 4px 0;
}
