.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 auto !important;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
